<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
<title>Successful add new Project</title>
</head>
<body>
	<span>Do you want to add new event to this project click on Add New Event</span>
	<a href="addProjectEvent.html">
	<br><br>
	<button>Add New Event</button>
	</a>
	&nbsp;&nbsp;
	<a href="home.html"k>
	<button>Back to Home Page</button>
	</a>
</body>
</html>